@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&family=Open+Sans&family=Work+Sans&display=swap');

:root {
    --primary: #FFFDD0;
    --secondary: #807F68;
    --black: #000000;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

.home {
    margin: 0 70px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 10px 0;
    /* background-color:red; */
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.link {
    text-decoration: none;
    color: var(--primary);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 170px;
    height: 45px;
}

.hero {
    height: 90%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content {
    width: 100%;  
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-h1 {
    color: var(--primary);
font-family: Inter;
font-size: 124px;
font-style: normal;
font-weight: 700;
line-height: normal;
max-width: 80%;
display: block;
}

.hero-small-text {
    color: var(--secondary);
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
