@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&family=Open+Sans&family=Work+Sans&display=swap');

:root {
    --primary: #32d5eb;
    --secondary: #2ab8cb;
    --black: #000000;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    color: black;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

.home {
    margin: 0 70px;
    height: 100%;
    /* background-image: url('img/homebg.svg'); */
    background-size: contain;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px 0;
    /* background-color:red; */
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.link {
    text-decoration: none;
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    transition: .2s;
}

.bold-link {
    font-weight: 700;
}

.link:hover {
    transform: scale(1.2);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 170px;
    height: 45px;
}

.hero {
    height: 75vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.blob {
    position: absolute;
    top: 28%;
    right: 8%;
    width: 400px;
    height: 400px;
    transition: transform .3s;
}

.blob:hover {
    transform: scale(1.05);
}

.blob2 {
    position: absolute;
    top: 23%;
    right: 18%;
    width: 400px;
    height: 400px;
    transform: rotateZ(-25deg);


}


.hero-content {
    width: 80%;  
    margin-left: 100px;
    /* flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.hero-h1 {
    color: var(--black);
font-family: Inter;
font-size: 124px;
font-style: normal;
font-weight: 700;
line-height: normal;
max-width: 80%;
display: block;
transition: transform .3s;
}

.hero-h1:hover {
    transform: scale(1.05);
}

.hh1-1 {
    transform: translate(-5px, 0px);
    /* display: inline; */
}


.hero-small-text {
    color: #6e6e6e;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
transform: translate(20px, 0px);
}




/* social */

.social {
    height: 15vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-link{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #d3d3d3;
    transition: 0.2s;
    cursor: pointer;
    /* transform: translate(0, 2px); */
}

.social-link:hover {
    transform: scale(1.2);
}

.social-link a img {
    width: 25px;
    height: 25px;
    transform: translate(0, 2px);
}
.sl-t {
    transform: translate(0, 2px);
}

/* small about */

.smallabout {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
}

.smallabout-content {
    width: 607px;
    /* background-color: red; */
    height: 100%;
}

.sabt-img {
    /* background-color: blue; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sabt-img img {
    width: 480px;
height: 474px;
border-radius: 10px;
border: #000 solid 1px;
}

.sabt-smalltxt {
    color: #000;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.sabt-bigtxt {
    margin-top: 10px;
    color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 140.523%; /* 44.967px */
width: 100%;
}

.sabt-bt-1, .sabt-bt-2 {
    margin-top: 35px;
}

.sabt-btn {
    display: inline-flex;
padding: 12px 26px;
justify-content: center;
align-items: center;
border-radius: 29.5px;
border: 2px solid #9747FF;
color: #9747FF;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 140.523%; /* 22.484px */
margin-top: 25px;
transition: all .2s;
cursor: pointer;
}

.sabt-btn:hover {
    background-color: #9747FF;
    color: white;
    transform: scale(1.1);
}

/* eam effect */

.eam-effect {
    height: 150px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.eam-txt1, .eam-txt2 {
    color: #000;
font-family: Inter;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: 140.523%; /* 174.248px */
position: absolute;
transform: translate(-55%, 0);
}

.eam-txt2 {
    transform: translate(55%, 0);
}

/* actual about */


.about {
    height: 100vh;
    width: 200%;
    display: flex;
}

.abt-firstsec {
    height: 100%;
    width: 100%;
    background: #AEE2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abtfs-txt {
    color: #FFF;
font-family: Inter;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-bottom: solid 2px #FFF;
position: relative;
}

.abtfs-txt-2  {
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
right: -5px;
top: -15px;
}


.abt-actualsec {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}


.scroll-section-outer {
    overflow: hidden;
  }
  
  .scroll-section-inner {
    height: 100vh;
    width: 200vw;
    display: flex;
    flex-direction: row;
    position: relative;
  
  }
  
  .scroll-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
  }


  
  .scroll-section h3 {
    color:  var(--primaryTextColor);
    letter-spacing: var(--headlineMedium);
    font-size: var(--headlineMedium);
    text-transform: uppercase;
  }
  
